version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    container_name: eshop-backend

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    container_name: eshop-frontend
